ul {
    width: 100%;
    list-style: none;
    display: block;
    padding: 1rem;
    background-color: #8F92A6;
    text-align: center;
}

li {
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

.first {
    background-color: #464B59;
    color: #F2D8D5;
}

.second {
    background-color: #F2D8D5;
}

.third {
    background-color: #D98B8B;
}

.forth {
    background-color: #D9B8B8;
}

[draggable=true] {
    cursor: move;
}